/*---------------------------------------------------------------------------*/
/* Copyright 2023 Chris Cooksey                                              */
/*---------------------------------------------------------------------------*/

.currentGamesTable {
  border-collapse: collapse;
}
.currentGamesCell {
  border-collapse: collapse;
  border: 2px solid black;
  padding: 10px;
}
.currentGamesAction {
  padding: 10px;
}

.othelloTable {
  table-layout:fixed;
  width: 332px; /* 40 * 8 + 2 */
  border-collapse: collapse;
  border: 2px solid pink;
  cursor: crosshair;
}

/* Cells will be exactly width * 2 x height * 2 (retina?). */
/* Borders are drawn outside, 0.5 * 2 * 2, i.e. 2 px wide. */
.othelloCell {
  display: inline-block;
  width: 40px;
  height: 40px;
  white-space: nowrap;
  overflow: hidden;
  border: 0.5px solid black;
  padding: 0;
  background-color: #20C020;
}

.layout-wrapper {
  padding-top:10px;
  padding-left:40px;
  display: flex;
  flex-direction: row;
  align-items: left;
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.header-wrapper {
  padding-left:0px;
}

.navigate-wrapper {
  padding-left:0px;
}

.content-wrapper {
  width: 100%;
  padding-top:10px;
  padding-left:100px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.authentication-input-width {
  width: 200px;
}

body {
  background-color: white;
  background-image: url('../../background.jpg');
  background-position: left top;
  background-repeat: no-repeat;
}

.password-problems {
  color:#C02020;
  font-size:12px;
  margin-top:0;
  margin-left:5px;
  height: 0;
  font-style: italic;
}

 .signin-registration-issue {
  color:#C02020;
  font-size:16px;
  font-style: italic;
  font-weight: bold;
}

 .signin-registration-success {
  color: #20C020;
  font-size:16px;
  font-style: italic;
  font-weight: bold;
 }

 .fireworks {
  position: absolute;
  z-index: -1;
  width: 332px;
  height: 332px;
 }

.result {
  font-size:32px;
  font-style: italic;
  font-weight: bold;
}

.win {
  color: #048d04;
}

.lose {
  color: #044f8d;
}

.draw {
  color: #8d0466;
}