/*---------------------------------------------------------------------------*/
/* Copyright 2023 Chris Cooksey                                              */
/*---------------------------------------------------------------------------*/

.layout-wrapper {
  padding-top:10px;
  padding-left:40px;
  display: flex;
  flex-direction: row;
  align-items: left;
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.header-wrapper {
  padding-left:0px;
}

.navigate-wrapper {
  padding-left:0px;
}

.content-wrapper {
  width: 100%;
  padding-left:40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authentication-input-width {
  width: 200px;
}

body {
  background-color: white;
  background-image: url('../../background.jpg');
  background-position: left top;
  background-repeat: no-repeat;
}

.password-problems {
  color:#C02020;
  font-size:12px;
  margin-top:0;
  margin-left:5px;
  height: 0;
  font-style: italic;
}

 .signin-registration-issue {
  color:#C02020;
  font-size:16px;
  font-style: italic;
  font-weight: bold;
}

 .signin-registration-success {
  color: #20C020;
  font-size:16px;
  font-style: italic;
  font-weight: bold;
 }

 